/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat+Alternates:wght@300;400;600;800&display=swap');

:root{
    --header-height:5rem;

    --main-color:#f7e6df;
    --first-color:#75492b;
    --second-color:#dfd6a7;
    --white-color:#fff;
    --blac-color:#151515;

    --font-cursive:'Great Vibes', cursive;
    --font-body:'Montserrat Alternates', sans-serif;

    --big-font-size:3rem;
    --h1-font-sixe:2.25rem;
    --h2-font-sixe:1.5rem;
    --h3-font-sixe:1.25rem;
    --normal-font-sixe:1rem;
    --small-font-sixe:0.813rem;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline:none;
    border: none;
}
.section-title{
    margin: 0 auto;
    text-align: center;
}
.section-title h1{
    font-family:var(--font-cursive);
    font-size:var(--big-font-size);
    font-weight: 400;
    line-height: 3rem;
    color: var(--first-color);
}
.section-title span{
    font-weight: 300;
    font-size: var(--h2-font-sixe);
    line-height:1.5rem ;
    color: var(--blac-color);
}
/*start package section*/
.package{
    width: 100%;
    padding: 7rem 0;
    background-color: var(--main-color);
    border-radius: 0 300px;
}

.package-cards{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}
.card{
    background-color: var(--white-color);
    border-radius: 30px;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.25);
    padding: 1.5rem;
    margin: 10px auto;
    transition: all.4s ease-in-out;
}
.card:hover{
    transform: scale(1.1);
}
.card-title{
    text-align: center;
    margin-bottom: 1.5rem;
}
.card-title h1{
    font-weight: bold;
    font-size: var(--h1-font-sixe);
    line-height: 2.25rem;
    color: var(--blac-color);
}
.card-items{
    margin-bottom: 1rem;
}
.item{
    display: flex;
    align-items: center;
}
.card-items .item p{
    font-weight: bold;
    line-height: 1.5rem;
    color: var(--first-color);
    margin-left: 0.5rem;
}
.card-items .item p span{
    font-size: var(--small-font-sixe);
    font-weight: 300;
}
.item .check-icon,
.item .x-icon{
    font-size: var(--h3-font-sixe);
}
.item .x-icon,
.item .not{
    color: var(--second-color);
}
.item .check-icon{
    color: var(--first-color);
}
.card-items button{
    margin: 1rem auto 0;
}

/*end package section*/

/*start btn section*/


/*buttons*/
.btn{
    width:240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--first-color);
    color: var(--white-color);
    border: 1px solid var(--first-color);
    border-radius: 50px;
    font-size: var(--normal-font-sixe);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.4s ease;
    margin-top: 20px ;
}
.btn:hover{
    background-color: transparent;
    color: var(--first-color);
}
.btn-outline{
    width:280px;
    background-color: transparent;
    color: var(--first-color);
    padding: 5px 10px 5px 0;
    transition: all 0.4s ease;
    position: relative;
}
.btn-outline::before{
    content: '';
    position: absolute;
    top :0;
    left:0;
    width: 18%;
    height: 100%;
    background-color: var(--first-color);
    border: 1px solid var(--first-color) ;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;

}
.btn-outline i{
    margin-right: 1.5rem;
    font-size: var(--h3-font-sixe);
    color: var(--white-color);
    z-index: 10;
}
.btn-outline:hover::before{
    width: 100%;
    z-index: -1;
}
.btn-outline:hover{
    color: var(--white-color);
    z-index: 10;
}

/*end  btn section*/


html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--white-color);
    font-size: var(--normal-font-sixe);
    font-family: var(--font-body);
    overflow-x: hidden;
}
@media(max-width:560px){
    .services-content-descp{
     grid-template-columns: repeat(unset);
    } 
 }